Package: destiny-aria2
Version: 0.0.1
Section: utils
Priority: optional
Architecture: amd64
Pre-Depend: aria2
Maintainer: destiny_zxj<destiny_zxj@163.com>
Provides: ycst
Description: Quick installation aria2.
